langchain-openai
langchain-core
langchain_community
langchain-groq
langchainhub
streamlit
fastapi
uvicorn
sse-starlette
python-dotenv
bs4
beautifulsoup4
wikipedia
arxiv
pypdf
PyPDF2
cassio
groq
langserve
sse_starlette
chromadb
faiss-cpu
